<a href="https://colab.research.google.com/github/NITINGORYAN/Python/blob/main/Basic_of_Python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Type Casting *

In [ ]:
Name=input('enter a name ') # Type Casting for enter anything

enter a name nitin

In [ ]:
Otp = int(input('enter otp ')) # type casting for interger only

enter otp 1

**Concatination**

In [ ]:
a='Indian'
b= ' ocean'
c=a+b
print(c) # merge 2 or more string together & merge 2 or more list together

Indian ocean

**Slicing**

In [ ]:
a='indian ocean' #slicing -: fetching more than 1 element at a time. ex- [a:b]  a is inclusive in nature and b is exclusive in nature.
print(a[0:8])

indian o

In [ ]:
Q='united nation'
print(Q[0:4])

unit

In [ ]:
print(Q[-9]) #Negative index slicing  start with right to left ex - ........-4,-3,-2,-1

e

In [ ]:
print(Q[-9:]) # Negative Index Slicing

ed nation

**Nested List **

In [ ]:
L1=[20,25,60,-45,['delhi','mumbai','pune','vellore']]     #List inside a list
print(L1[4][-3])

mumbai

In [ ]:
print(L1[-1][-1])

vellore

**Built in functions **

In [ ]:
L1=['AI','Phython','NLP','CV','R']
L1.append('machine learning')   # append use for add the at the end of list
print(L1)

['AI', 'Phython', 'NLP', 'CV', 'R', 'machine learning']

In [ ]:
L1=['AI','Phython','NLP','CV','R']
L1.insert(1,'machine learning')   #inert command use for add the at your desire location
print(L1)

['AI', 'machine learning', 'Phython', 'NLP', 'CV', 'R']

In [ ]:
L1=['AI','Phython','NLP','CV','R']
L1.remove('CV')  # remove Element from list
print(L1)

['AI', 'Phython', 'NLP', 'R']

In [ ]:
L1=['AI','Phython','NLP','CV','R']
L1.pop(4) #remove element at given location
print(L1)

['AI', 'Phython', 'NLP', 'CV']

In [ ]:
L1=['AI','Phython','NLP','CV','R']
L1.extend('deep''learning') # it will add multiple element at the end of list
print(L1)

['AI', 'Phython', 'NLP', 'CV', 'R', 'd', 'e', 'e', 'p', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [ ]:
L2=[1,2,8,6,3,5,4,1]
max(L2) #fetch the largest number

8

In [ ]:
L2=[1,2,8,6,3,5,4,1]
min(L2) #fetch the smallest number

1

In [ ]:
len(L2) #will fetching total number of element

8

In [ ]:
L2.count(2) #will count the frequency of 2 existing in the list

1

In [ ]:
sum(L2)  # it will add the element in the list.

30

In [ ]:
my_list=['varansi','lucknow','kanpur',['uttar pradesh','madhya pradesh',['delhi','faridabad','noida']]]
print(my_list[3][2][:-1])

['delhi', 'faridabad']